easysoa-registry-v1/easysoa-registry-doctypes-core/src/main/resources/schemas/architecture-component.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/comp/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/comp/">
  
  <xs:element name="componentCategory" type="xs:string" />
  <xs:element name="linkedInformationService" type="xs:string" />
  <xs:element name="providerActor" type="xs:string" />
  
</xs:schema>