easysoa-registry-v1/easysoa-registry-doctypes-core/src/main/resources/schemas/endpoint-consumption.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/ec/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/ec/">

  <xs:element name="consumerHost" type="xs:string" />
  <xs:element name="consumedUrl" type="xs:string" />
  <xs:element name="consumedEnvironment" type="xs:string" />
  <xs:element name="consumerIp" type="xs:string" />

</xs:schema>