easysoa-registry-v1/easysoa-registry-doctypes-core/src/main/resources/schemas/resource-download-info.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/rdi/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/rdi/">
    
  <xs:element name="actualUrl" type="xs:string" />
  <xs:element name="downloadableUrl" type="xs:string" />
  <xs:element name="timestamp" type="xs:dateTime" />    
  
  <xs:complexType name="probe">
    <xs:sequence>
      <xs:element name="probeId" type="xs:string" />
      <xs:element name="type" type="xs:string" />
      <xs:element name="instance" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="probe" type="nxs:probe" />

</xs:schema>